<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
	<GsmSettings>
		<PortName>COM3</PortName>
		<BaudRate>9600</BaudRate>
	</GsmSettings>
	<Users>
		<User>
			<Name>Ion Popescu</Name>
			<PhoneNumber>+40737774955</PhoneNumber>
			<MacAddress>00:11:22:33:44:55</MacAddress>
		</User>
	</Users>
</Configuration>